<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>北大软微后勤维修管理平台</title>
    <meta name="description" content="北大软微后勤维修管理平台">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/assets/css/normalize.css">
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/static/assets/css/pe-icon-7-filled.css">
    <link rel="stylesheet" href="/static/assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="/static/assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="/static/assets/css/lib/datatable/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">
</head>

<body>
<!-- Left Panel -->
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">

                <li class="menu-title">工单</li><!-- /.menu-title -->
                <li class="menu-item-has-children">
                    <a href="{:url('order/searchorder/index')}"> <i class="menu-icon fa fa-eye"></i>工单查询 </a>
                </li>
                <li class="menu-item-has-children">
                    <a href="{:url('order/sendorder/index')}"> <i class="menu-icon fa fa-pencil"></i>派单</a>
                </li>
                <li class="menu-item-has-children">
                    <a href="{:url('order/modifyorder/index')}"> <i class="menu-icon fa fa-eraser"></i>改单</a>
                </li>

                <li class="menu-title">统计</li><!-- /.menu-title -->
                <li class="menu-item-has-children">
                    <a href="{:url('statistics/statistics/index')}"> <i class="menu-icon fa fa-bar-chart-o"></i>统计数据查询</a>
                </li>
                <li class="menu-item-has-children">
                    <a href="{:url('statistics/type/index')}"> <i class="menu-icon fa fa-wrench"></i>维修类别管理 </a>
                </li>
                <li class="active menu-item-has-children">
                    <a href="{:url('statistics/area/index')}"> <i class="menu-icon fa ti-location-pin"></i>维修区域管理</a>
                </li>

                <li class="menu-title">个人信息</li><!-- /.menu-title -->
                <li class="menu-item-has-children">
                    <a href="{:url('personal/personal/index')}"> <i class="menu-icon fa fa-edit"></i>编辑个人信息</a>
                </li>

                <li class="menu-title">人员管理</li><!-- /.menu-title -->
                {if condition="$Think.session.user['admin_level'] == 1"}
                <li class="menu-item-has-children">
                    <a href="{:url('admin/admin/index')}"> <i class="menu-icon fa fa-user"></i>管理员管理</a>
                </li>
                {/if}
                <li class="menu-item-has-children">
                    <a href="{:url('admin/maintainer/index')}"> <i class="menu-icon fa fa-male"></i>维修工管理</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>
<!-- /#left-panel -->

<!-- Right Panel -->
<div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">
        <div class="top-left">
            <div class="navbar-header">
                <a class="navbar-brand" href="{:url('order/searchorder/index')}"><img src="/static/images/logo.png" alt="Logo"></a>
                <a class="navbar-brand hidden" href="{:url('order/searchorder/index')}"><img src="/static/images/logo2.png" alt="Logo"></a>
                <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
            </div>
        </div>
        <div class="top-right">
            <div class="header-menu">
                <div class="header-left">
                    <a href="{:url('login/login/loginout')}">
                        {$Think.session.user['username']}[退出]
                    </a>

                    <div class="dropdown for-notification">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bell"></i>
                            <span class="count bg-danger">{$count}</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="message">
                            <p class="red">有{$count}个工单待派单</p>
                            {volist name='info' id='list'}
                            <a class="dropdown-item media" href="{:url('order/orderinformation/index',['id' => $list['work_order_id']])}">
                                <span class="photo media-left"><i class="menu-icon fa  fa-user"></i></span>
                                <div class="message media-body">
                                    <span class="name float-left">{$list.customer_name}</span>
                                    <span class="time float-right" id="time">{$list.create_time}</span>
                                    <p>{$list.description}</p>
                                </div>
                            </a>
                            {/volist}
                        </div>
                    </div>

                </div>

                <div class="user-area dropdown float-right">
                    <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="user-avatar rounded-circle" src="/static/images/admin.jpg" alt="User Avatar">
                    </a>

                    <div class="user-menu dropdown-menu">
                        <a class="nav-link" href="{:url('personal/personal/index')}"><i class="fa fa-user"></i>我的资料</a>
                        <a class="nav-link" href="{:url('login/login/loginout')}"><i class="fa fa-power-off"></i>退出</a>
                    </div>
                </div>

            </div>
        </div>
    </header>
    <!-- /#header -->

    <!-- Content -->
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-xl-9">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="box-title">
                                维修区域管理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="submit" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addmodal1">创建区域</button>
                            </h4>
                        </div>
                        <div class="card-body--">
                            <div class="table-stats">
                                <table id="bootstrap-data-table" class="table">
                                    <thead>
                                    <tr>
                                        <th class="serial">序号</th>
                                        <th>区域ID</th>
                                        <th>区域名称</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {volist name='data' id='list'}
                                    <tr>
                                        <td class="serial">{$i}.</td>
                                        <td> {$list.area_id} </td>
                                        <td>  <span class="name">{$list.area_description}</span> </td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-sm mb-1" data-toggle="modal" data-target="#editmodal">
                                                <i class="fa fa-magic"></i>&nbsp;编辑
                                            </button>
                                            <button type="button" class="btn btn-danger btn-sm mb-1" data-toggle="modal" data-target="#delmodal">
                                                <i class="fa fa-exclamation"></i>&nbsp;删除
                                            </button>
                                        </td>
                                    </tr>
                                    {/volist}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!--修改维修区域-->
                <form action="editarea" method="post">
                    <div class="modal fade" id="editmodal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editmodalLabel">修改维修区域</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-check-square-o"></i></div>
                                            <input type="text" id="edit_id" name="edit_id"  class="form-control" readonly="true">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-edit"></i></div>
                                            <input type="text" id="edit_content" name="edit_content"  class="form-control">
                                        </div>
                                    </div>
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                    <button type="submit" class="btn btn-success">确认</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--删除维修区域-->
                <form action="delarea" method="post">
                    <div class="modal fade" id="delmodal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="delmodalLabel">删除维修区域</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-check-square-o"></i></div>
                                            <input type="text" id="del_id" name="del_id" class="form-control" readonly="true">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-edit"></i></div>
                                            <input type="text" id="del_content" name="del_content" class="form-control" readonly="true">
                                        </div>
                                    </div>
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                    <button type="submit" class="btn btn-success">确认</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--创建维修区域-->
                <form action="addarea" method="post">
                    <div class="modal fade" id="addmodal1" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addmodalLabel">创建维修区域</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-check-square-o"></i></div>
                                            <input type="name" id="id" name="area_id" value="{$max_id+1}"  class="form-control" disabled="disabled">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-edit"></i></div>
                                            <input type="name" id="name" name="area_description" placeholder="区域名称" class="form-control">
                                        </div>
                                    </div>
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                    <button type="submit" class="btn btn-success">确认</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- .animated -->
    </div>
    <!-- /.content -->

    <div class="clearfix"></div>
    <!-- Footer -->
    <footer class="site-footer">
        <div class="footer-inner bg-white">
            <div class="row">
                <div class="col-sm-6">
                    Copyright &copy; 2019 SSPKU Admin. 友情链接 <a href="http://www.ss.pku.edu.cn/" target="_blank" title="北京大学软件与微电子学院">北京大学软件与微电子学院</a>
                </div>
                <div class="col-sm-6 text-right"> Designed by SunJiajing
                </div>
            </div>
        </div>
    </footer>
    <!-- /.site-footer -->
</div>
<!-- /#right-panel -->

<!-- Scripts -->
<script src="/static/assets/js/vendor/jquery-2.1.4.min.js"></script>
<script src="/static/assets/js/popper.min.js"></script>
<script src="/static/assets/js/bootstrap.min.js"></script>
<script src="/static/assets/js/jquery.matchHeight.min.js"></script>
<script src="/static/assets/js/main.js"></script>
<script src="/static/assets/js/lib/data-table/datatables.min.js"></script>
<script src="/static/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
<script src="/static/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
<script src="/static/assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
<script src="/static/assets/js/lib/data-table/jszip.min.js"></script>
<script src="/static/assets/js/lib/data-table/vfs_fonts.js"></script>
<script src="/static/assets/js/lib/data-table/buttons.html5.min.js"></script>
<script src="/static/assets/js/lib/data-table/buttons.print.min.js"></script>
<script src="/static/assets/js/lib/data-table/buttons.colVis.min.js"></script>
<script src="/static/assets/js/init/datatables-init.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#bootstrap-data-table-export').DataTable();
    } );
</script>

<!--修改维修区域-->
<script type="text/javascript">
    $('#editmodal').on('show.bs.modal',function (event) {
        var btnThis = $(event.relatedTarget); //触发事件的按钮
        var modal = $(this);  //当前模态框
        var modalId = btnThis.data('id');   //解析出data-id的内容
        var content = btnThis.closest('tr').find('td').eq(2).text();
        var id = btnThis.closest('tr').find('td').eq(1).text();
        modal.find('#edit_content').val(content);
        modal.find('#edit_id').val(id);
    });
</script>
<!--删除维修类别-->
<script type="text/javascript">
    $('#delmodal').on('show.bs.modal',function (event) {
        var btnThis = $(event.relatedTarget); //触发事件的按钮
        var modal = $(this);  //当前模态框
        var modalId = btnThis.data('id');   //解析出data-id的内容
        var content = btnThis.closest('tr').find('td').eq(2).text();
        var id = btnThis.closest('tr').find('td').eq(1).text();
        modal.find('#del_content').val(content);
        modal.find('#del_id').val(id);
    });
</script>

</body>
</html>
